<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <h2><%= @cocktail.name %></h2>

      <%= render 'cocktails/dose_form' %>
      <%= link_to 'Back', cocktails_path, :class => "pull-right", :id => "move-up" %>
      <ul class="list-group padded">
      <% @cocktail.doses.each do |dose| %>
        <% if dose.persisted? %>
          <li class= "list-group-item">
          <%= dose.description + " " + dose.ingredient.name %><%= link_to "Delete", dose_path(dose), method: :delete, data: { confirm: "Are you sure?" }, :class => "btn btn-danger btn-xs pull-right" %>
          </li>
        <% end %>
      <% end %>
      </ul>
    </div>
  </div>
</div>
