<div class="row">
  <h2><%= @cocktail.name %></h2>
  <div class="col-xs-6">
    <%= render 'dose_form' %>

    <% @cocktail.doses.each do |dose| %>
    <p><%= dose.description + " " + dose.ingredient.name %></p>
    <%= link_to "Delete", dose_path(dose),
    method: :delete,
    data: { confirm: "Are you sure?" }, :class => "btn btn-danger" %>
    <% end %>

  </div>

  <%= link_to "Go back", cocktails_path, :class => "btn btn-primary" %>
</div>
